<section class="text-gray-600 body-font bg-yellow-200 ">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <h1 class="title-font text-4xl  mb-10 font-bold text-gray-900">श्री श्री शंभू प्रसाद गौतम बाबा जी
        </h1>
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/images/babaji.jpg">
      <div class="text-center lg:w-2/3 w-full">
       
        <p class="mb-8 text-3xl font-medium leading-relaxed">पूज्‍यश्री पूरी तरह जन-कल्‍याण की राह पर :— पूज्‍यश्री उस समय तक आफिस भी जाते थे चूँकि पूज्‍यश्री के पास अपना दुख दर्द लेकर लोग दूर-दूर से आते कभी विशेष कार्य कारणवश पूज्‍यश्री को बाहर जाना पड़ता चूँकि जन कल्‍याण के लिए पूज्‍यश्री ने सार्मथ्‍य अनुसार कहीं भ्‍ज्ञी आने-जाने में परहेज नहीं करते थे, आश्रम के कार्यों की व्‍यस्‍तता थी। पूज्‍यश्री के अंदर सर्वधर्म समभाव, की धारा थी वे इसे पूरे जगत में बहाना चाहते थे। इसके लिए समय की आवश्‍यकता थी एक जगह रहकर यह कार्य किया भी नहीं जा सकता था। पूज्‍यश्री कहीं बाहर जाते थे, तो आफिस की चिंता तो रहती ही थी। इसी बीच बाहर से आने वाले भक्‍तों की संख्‍या बहुत ज्‍यादा हो गयी। इसमें भोपाल से आने वाले भक्‍तों की संख्‍या बहुत हो गयी। पूज्‍यश्री भक्‍तों के कष्‍ट को नहीं देख सकते थे। उसके लिए चाहे उन्‍हें कितनी भ्‍ज्ञी बार आना-जाना पड़े। आफस से कितनी भी छुट्टी लेनी पड़े। यहां तक हो गया कि पूज्‍यश्री की नियमन छुट्टी का अधिकार समाप्‍त हो गया पर पूज्‍यश्री उसके बाद भी भक्‍तों के कष्‍टों को दूर करने के लिए आफिस को छोड़कर जन कल्‍याण व सर्वधर्म समभाव के प्रचार प्रसार में लगे रहे और स्थिति यहां तक पहुंच गयी कि पूज्‍यश्री को “नो वर्क नो पे” की स्थिति तक आफिस से छुट्टी लेनी पड़ी पर पज्‍यश्री ने वो छुट्टी लेकर भी भक्‍तों के कष्‍टों को दूर किया। अधिकारी भी उनका साथ देते थे पर हर बात की एक सीमा थी। अधिकारी भी आखिर सरकारी नियम कानून से बंधे थे। आखिर पूज्‍यश्री ने सोचा क्‍यों किसी को धर्म संकट में डाला जाये, मेरी वजह से देसरे की नौकरी क्‍यों संकट में पड़े। पूज्‍यश्री जैसा मानव का भला चाहने वाला ये कैसे चाहेगा कि मेरे कारण किसी की नौकरी चली जाये। उन्‍होंने निश्‍चय किया कि वो समय से पहले ही सेवा निवृत्ति ले लें। इससे सभी का भला है अधिकारी भी धर्म संकट से बच जायेंगे और मुझे भी जन कल्‍याण का समय मिलने लगेगा। नौकरी से कम्‍पलसरी रिटायरमेंट ले लिया।</p>
        
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-yellow-200">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/images/mamu.jpeg">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          श्री प्रद्युम्न गौतम</h1>
        <p class="mb-8 text-3xl font-medium leading-relaxed">
        आदरणी गुरुदेव जी के पुत्र प्रद्युम्न गौतम जी भोपाल के आयुर्वेदिक शिक्षा प्राप्त करने के लिए जिस करण गुरुदेव 
        और इस तरह से उन लोगों के संपर्क में आए और उनके भक्त बन गए भोपाल के भक्तों को 
        पूजाश्री की अगुवाई में महायज्ञ का आयोग जिसके मध्यम से पूज्य श्री बहुत से लोगों का अगमन कर पाए !</p>
      </div>
    </div>
  </section>