<section class="text-gray-600 body-font bg-yellow-200 ">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <h1 class="title-font text-4xl  mb-10 font-bold text-gray-900">श्री श्री शंभू प्रसाद गौतम बाबा जी
        </h1>
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/images/babaji.jpg">
      <div class="text-center lg:w-2/3 w-full">
       
        <p class="mb-8 text-3xl font-medium leading-relaxed">पूज्य श्री महागुरुदेव जी ने अलग ही सिद्धांत का प्रतिदान किया की मानव सेवा ही ईश्वर सेवा है ! सब धर्मो में समान श्रद्धा रखते हुए   "अनेकता में एकता" के भाव की जागृति के मार्ग को प्रप्त करते हुए पूजाये श्री सरकार नौकरी में रहते हुए अपने दावित्य का निर्वाहन करते हुए अपना जीवन मानव सेवा में समर्पित कर दिया 
          ओर ईश्वर को प्रप्त किया |
         <br>   महागुरु बाबा जी ने हनुमान जी एवं शहंशा मकदूम शाह बाबा जी की भक्ति पूजा सेवा में ऐसे समर्पित हुए | पूज्य श्री को हनुमान जी की भक्ति एवं बाबा की सेवा से प्रप्त सिद्धांतों के मध्यम से की गई मानव सेवा जैसे महान कर्म से ही उन्हे ' सत्य से साक्षात्कार ' की उपलब्धि हुई  
          पूज्य श्रीमहागुरु बाबा जी ने मानव सेवा जैसा महान काम को आगे बढ़ने की शिक्षा अपने भक्तों, परिवार एवं अपने पुत्र श्री श्री डॉक्टर प्रद्युम्न गौतम जी को भी दी | श्री प्रद्युम्न गौतम ( रामू भैया जी ) जी को जो एक डॉक्टर होते हुए भी पूज्य श्री के द्वारा साथपित शिक्षा को बड़ी 
          लगन से आगे 
          बढ़ते ह्यू मानव सेवा ही महान सेवा जैसे कर्मो को चारम पर 
          पहुचना उसी का एक फल महागुरु बाबाजी फाउंडेशन है |
          जो किसी भी प्रकार
          के धर्म 
          जाति का भेदभाव न रखने वाले 
          अनेकता में एकता के भाव से मानव सेवा ही ईश्वर सेवा पर कर्म करते हुए मानव सेवा जैसे महान कर्म में समर्पित ​​है!
        </p>
        
      </div>
    </div>
  </section>

  