<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-2 object-cover object-center rounded" alt="hero" src="../images/pay.jpeg">
      </div>
  </section>


<div class=" font-bold  text-center ">
Account/Customer : 50210009888477 / 210000853731  <br>     Branch name / Code : hoshangabad / 1307
<br> Account type / :    SB TASC        / INR     <br>           Address:             gourav bhavan, Ward No. 24 , Rasuliya , NH-69 Hoshangabad , Madhya Pradesh - Hoshangabad , 461001
<br> Account Holder Name : Shri Maha GURU DEV BABA JI Foundation

<br>
Mode of Operation : See Notes fro MOP  MICR/IFSC Code : 461760001 / ESMF0001307
<br> Address : KIRI 48 49 Sector 1 A Global Park City
          Katara hills tehsil Huzur Jila Bhopal(M.P)

<br> Date of Issue : 28/10/2021

<br> Contact No. : 8223021234
<br> Account Opening Date : 28/10/2021 <br>

Nominee Regd : No
</div>