<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHREE MAHAGURU FOUNDATION</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
  body {font-family: 'Lato', sans-serif;}
  .dropdown:hover .dropdown-menu {
  display: block;
}
.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}
  </style>
</head>
<body>
  <div class="bg-white bg-opacity-75">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 श्री महागुरुदेव बाबाजी —
        <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">@nishant</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-400">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>

  

  
  <nav class="flex  flex-wrap items-center justify-between p-5 bg-yellow-500 sticky top-0 z-50">      
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img class="object-contain h-20" src="/images/logo.png" alt="">
      <span class="ml-3  font-bold   text-3xl">श्री महागुरुदेव बाबाजी  </span>
      <span class="ml-3  font-bold   text-xl"></span>
    </a>
      
          <div class="flex  md:hidden">
            <button id="hamburger">
              <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" />
              <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" />
            </button>
          </div>      
          <div class="toggle hidden w-full md:w-auto md:flex  text-right text-bold mt-5 md:mt-0   md:border-none">        
            
            <a href="/Home"  class="block md:inline-block text-2xl text-white hover:text-gray-500 px-3 py-3 font-bold  md:border-none">Home</a>
           
            <a href="./gallery" class="block md:inline-block text-2xl text-white hover:text-gray-500 px-3 py-3   font-bold md:border-none">Gallery</a>
            
            <a href="./patient" class="block md:inline-block text-2xl text-white hover:text-gray-500 px-3 py-3   font-bold md:border-none">Patient</a>

              <div class="dropdown inline-block  relative">
                <button class="bg-yellow-500 text-white font-semibold py-3 px-4 rounded inline-flex items-center">
                  
                    <span class="mr-1 toggle text-white text-2xl  font-bold hidden md:flex w-full md:w-auto   text-right  hover:bg-yellow-500  md:rounded">About Us</span>
                  </a>
                  
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-white pt-1">
                  <li class=""><a class="rounded-t  text-center font-bold text-xl bg-yellow-500 hover:bg-yellow-200 py-2 px-4 block border-2 border-gray-200 whitespace-no-wrap" href="./babaji">Guru Dev BabaJi</a></li>
                  <li class=""><a class="bg-yellow-500  text-xl text-center font-bold hover:bg-yellow-200 py-2 px-4 block border-2 border-gray-200 whitespace-no-wrap" href="./members">Family</a></li>
                  <li class=""><a class="rounded-b text-center text-xl font-bold bg-yellow-500 hover:bg-yellow-200 py-2 px-4 block border-2 border-gray-200 whitespace-no-wrap" href="./aim">Misson</a></li>
                  
                
                </ul>
              </div>
            
          </div>      
          <a href="../Donations" class="toggle text-white text-2xl  font-bold hidden md:flex  md:w-auto px-4 py-3 text-right bg-red-600 focus:outline-none hover:bg-gray-500  md:rounded">Donate  !</a>
          <a href="../contact" class="toggle text-black text-2xl  font-bold hidden text-center md:flex   md:w-auto px-4 py-3 text-right bg-white focus:outline-none hover:bg-gray-500  md:rounded">Join Us</a>
        </nav> 

        <%- body %>
      <footer></footer>

      <script>document.getElementById("hamburger").onclick = function toggleMenu() {
        const navToggle = document.getElementsByClassName("toggle");
        for (let i = 0; i < navToggle.length; i++) {
          navToggle.item(i).classList.toggle("hidden");
        }
      };</script>
      </body>
      </html>