<!-- member -->

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        
        
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/images/familia.jpeg">
          </div>
          <h2 class="text-2xl text-center font-medium title-font text-gray-900 mt-5">
            || गुरु पूर्णिमा के पवन अवसर में हम गुरु देव जी के साथ व्यतित हुए अम्नोल पाल ||</h2>
          <p class="text-base leading-relaxed mt-2">
            </p>
          
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/images/img.jpg">
          </div>
          <h2 class="text-2xl font-medium text-center title-font text-gray-900 mt-5">|| बंडारा प्रसाद वितरण के बाद हमारे आश्रम के परिवार के लोग साथ में कुछ अनमोल पल ||</h2>
          <p class="text-base leading-relaxed mt-2"><p>
          
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center  h-full w-full" src="/images/mm.jpg">
          </div>
          <h2 class="text-2xl font-medium text-center title-font text-gray-900 mt-5">
|| हमारे गुरु जी ||</h2>
          
        </div>
      </div>
    </div>
  </section>


